<p>
  <span class='vote-count'>
    <%= question.vote_count %>
  </span>
  <%= link_to question.title, question %>
  <% if logged_in? && owner?(question) %>
    <span class='options'>
      <%= link_to 'edit', edit_question_path(question) %> |
      <%= link_to 'delete', question, method: :delete %>
    </span>
  <% end %>
</p>
<hr>
