<p>
  <span class='vote-count'>
    <%= question.vote_count %>
  </span>
  <%= link_to question.title, question %>
  <span class='question-options'>
    <% if logged_in? && owner?(question) %>
      <%= link_to 'edit', question %>
      <%= link_to 'delete', question, method: :delete %>
    <% end %>
  </span>
</p>
<hr>
