<div class='answer-wrapper'>
  <% if logged_in? && owner?(answer) %>
    <span class='options'>
      <%= link_to 'Edit', edit_answer_path(answer.question, answer) %> |
      <%= link_to 'Delete', delete_answer_path(answer.question, answer), method: :delete %>
    </span>
  <% end %>
  <p><%= answer.body %></p>
  <p>-<%= answer.author.username %></p>
</div>
